@import "../../styles/base/base";

.task {
  align-items: center;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 2.7rem 1fr 2rem;
  min-height: 5rem;

  &:not(:last-of-type) {
    border-bottom: 1px solid $color-gray-light-opacity-1;
  }

  &__content {
    margin: 1rem 0;
    word-wrap: break-word;
    padding-left: 1rem;

    &--reminder {
      border-left: 4px solid $color-secondary;
      
    }
  }

  &__date {
    color: $color-gray-light;
    font-size: $font-size-small;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  &__icon {
    cursor: pointer;

    &--delete {
      color: $color-gray-light;
      justify-self: right;

      &:hover {
        color: $color-white;
      }
    }
  }
}