@import "../../styles/base/base";

.tasks {
  background: $color-gray-dark-opacity-2;
  border-radius: $border-radius-container;
  margin-bottom: $margin-bottom-container;
  padding: $padding-container;
}