@import "../../styles/base/base";

.add-form {
  background: $color-main-opacity-2;
  border-radius: $border-radius-container;
  box-shadow: $box-shadow-main;
  margin-bottom: $margin-bottom-container;
  padding: $padding-container;
}
