@import "../../styles/base/base";

.open-complete-button {
  font-size: $font-size-body;
  margin-bottom: -0.3rem;
  margin-right: 0.5rem;
  transform: rotate(-90deg);
  transition: 0.2s ease-in;

  &--open {
    transform: rotate(0);
  }
}

.completed-tasks {
  background: $color-gray-dark-opacity-3;
  border-radius: $border-radius-container;
  margin: 1rem 0 5rem;
  padding: $padding-container;

  &--closed {
    padding: 0;
  }
}
