$color-white: #efefed;
$color-gray-light: rgb(116, 123, 150);
$color-gray: rgb(83,88,108);
$color-main-bg: rgb(26, 25, 39);
$color-main-bg-50proc: rgba(26, 25, 39, 0.5);

$gradient-main: linear-gradient(90deg, rgba(83,88,108,1) 0%, rgba(39,41,56,1) 100%);