$font-family-main: 'Poppins', sans-serif;

//PRE-DEFINED SIZES
$font-size-biggest: 2.4rem;
$font-size-big: 1.6rem;
$font-size-body: 1.4rem;
$font-size-small: 1.2rem;
$font-size-smallest: 1rem;

//SPECIFIC SIZE VARIABLES
$font-size-clock: 10rem;
$font-size-html: 62.5%;
$font-size-h1-big: 4.8rem;
$font-size-h1: 3.6rem;
$font-size-h1-mobile: 2.7rem;
$font-size-h2: 3.2rem;
$font-size-h2-smaller: 2.4rem;
$font-size-h5: 1.8rem;
$font-size-tiny: 1rem;

$line-height-huge: 1.6;
$line-height-biggest: 1.5;
$line-height-big: 1.4;
$line-height-small: 1.2;
$line-height-smallest: 1.1;

$default-grid-gap: 4rem;
$default-spacing-tiny: 0.4rem;
$default-spacing-small: 1.6rem;
$default-spacing-medium: 2.4rem;
$default-spacing-large: 4rem;

//COMMON MARGINS
$margin-bottom-container: 3rem;

//COMMON PADDINGS
$padding-container: 2rem 3rem;

//COMMON BOX SHADOW VALUES
$box-shadow-main: 1px 2px 20px rgba(0, 0, 0, 0.2);

//COMMON BORDER RADIUSES
$border-radius-container: 0.3rem;
$border-radius-button: 5rem;

//RESPONSIVE SIZES
$min-tablet: 500px;
$tablet: 700px;