html {
  font-size: $font-size-html; //1rem = 10px
}

body {
  font-family: $font-family-main;
  font-size: $font-size-body;
  font-style: normal;
  font-weight: normal;
  line-height: $line-height-biggest;
}

h1, .h1 {
  font-size: $font-size-h1;
  line-height: $line-height-smallest;
}

h2, .h2 {
  font-weight: bold;
  font-size: $font-size-big;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h3, .h3 {
  font-weight: normal;
  font-size: $font-size-body;
  line-height: 1.3;
}